@use "../../../../../scss/abstracts" as a;
@use "../../../../../scss/base" as b;

.winter-half {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom left,
    rgba($color: a.$winter-color-dark, $alpha: 0.7),
    rgba($color: a.$winter-color-light, $alpha: 0.7)
  );

  position: relative;
  overflow: hidden;
  padding: 10rem 5rem;
  color: a.$main-color-white;

  & h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    margin: 0 auto;
    margin-bottom: 5rem;

    & span:first-child {
      font-size: b.$font-size-large-2;
      letter-spacing: 3px;
      font-weight: 100;
    }
    & span:last-child {
      font-size: b.$font-size-mid-1;
      letter-spacing: 2.7px;
      font-weight: 100;
    }
  }

  &__info {
    width: 60rem;
    margin: 0 auto;
    &__description {
      letter-spacing: 2px;
      font-weight: 800;
      color: a.$main-color-red;
    }

    & ul {
      list-style: none;

      & li {
        border-bottom: solid a.$main-color-red 2px;
        padding: 1rem 0;
        letter-spacing: 1px;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
