@use "../../scss/abstracts" as a;
@use "../../scss/base" as b;

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  height: 0.2rem;
  width: 100%;
  background-color: a.$main-color-red;
}
