@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;

// BURGER MENU
.burger-box {
  width: 4rem;
  cursor: pointer;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &--span {
    display: inline-block;
    height: 0.5rem;
    width: 100%;
    background-color: a.$main-color-white;
    border-radius: b.$border-radius-mid;
  }
  &--span-dark {
    background-color: a.$grey;
  }
}
