@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;

.menu-transparent {
  &__select {
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    color: a.$main-color-black;
    background-color: rgba($color: a.$main-color-white, $alpha: 1);
  }
}

.menu-white {
  &__select {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    border: solid a.$main-color-black 2px;
    cursor: pointer;
    letter-spacing: 2px;
  }
}
