@use "../../../../../scss/base" as b;

.slider {
  width: 100%;
  position: relative;
  z-index: 0;
  margin-bottom: b.$margin-large-5;

  &__img-container {
    & img {
      width: 100%;
      height: auto;
    }
  }
  &__mobile {
    display: none;
  }
}

@media (max-width: 700px) {
  .slider__mobile {
    display: block;
  }
  .slider__desc {
    display: none;
  }
}
