@use "../../../../scss/abstracts" as a;
@use "../../../../scss/base" as b;

.testimonial {
  display: grid;
  grid-template-columns: 1fr 4fr;

  box-shadow: 0 0 15px 5px rgba($color: a.$heading-color-d-white, $alpha: 0.8);
  padding: 2rem;
  border-radius: 1rem;
  &__img {
    width: 8rem;
    position: relative;

    &__main {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
    &__country {
      width: 3rem;
      height: auto;
      position: absolute;
      bottom: 1rem;
      right: -1rem;
      border: solid white;
      border-radius: 50%;
    }
  }

  &__text {
    font-size: b.$font-size-small-3;
  }
}
