@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;

// MAIN CONTAINER
.soc-media {
  & h2 {
    padding-left: b.$margin-small-1;
    margin-bottom: b.$margin-small;
    border-left: solid a.$main-color-red;
  }
}
