@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;

.experience {
  padding-top: b.$margin-large-5;

  // background-image: linear-gradient(180deg, transparent 65%, #a4a5a5 95%);

  &__heading {
    width: b.$container-large-1;
    margin: 0 auto;

    font-size: b.$font-size-large-3;
    letter-spacing: 2px;
    font-weight: 100;
    display: flex;
    gap: 5rem;
    margin-bottom: b.$margin-mid-3;
    position: relative;

    &__bio,
    &__experience {
      position: relative;
    }

    &__letter {
      position: absolute;
      left: -5rem;
      top: -100%;
      color: rgba($color: a.$heading-color-d-white, $alpha: 0.6);
      font-size: 15rem;
      z-index: -1;
    }
  }
}

.content {
  width: b.$container-large-1;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr 1.5fr;
  column-gap: 8rem;

  &__img {
    transform: translateX(-5rem);
    opacity: 0.1;
    transition: all 0.8s;

    &__active {
      transform: translateX(0);
      opacity: 1;
    }

    & img {
      width: 100%;
      height: auto;
      border-radius: 0.6rem;
    }
  }

  &__text {
    transform: translateX(5rem);
    opacity: 0.1;
    transition: all 0.8s;

    &__active {
      transform: translateX(0);
      opacity: 1;
    }

    display: flex;
    align-items: center;

    font-size: b.$font-size-mid-1;
    letter-spacing: 1px;

    &__special {
      color: a.$main-color-red;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
}

.text {
  background-color: aqua;
}
