@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;

.intro {
  color: a.$main-color-white;

  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  padding: 15rem;

  // LEFT SIDE
  &__left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;

    animation-name: from-left;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

    & h2 {
      display: flex;
      flex-direction: column;
      margin-bottom: b.$margin-large;
    }

    & span:first-child {
      font-weight: 100;
      font-size: b.$font-size-mid-2;
    }

    & span:nth-child(2) {
      font-size: b.$font-size-large-3;
      font-weight: 100;
      border-bottom: solid a.$main-color-white 2px;
      width: max-content;
      letter-spacing: 5px;
    }

    & span:last-child {
      font-weight: 100;
      font-size: b.$font-size-mid;
      letter-spacing: 2px;
    }

    & strong {
      color: a.$main-color-red;
      letter-spacing: 2px;
    }

    // LINK
    & a,
    & a:link,
    & a:visited {
      display: inline-block;
      width: max-content;
      font-size: b.$font-size-large;
      padding: 0 2rem 0.8rem 2rem;
      border: solid a.$main-color-white;
      color: a.$main-color-white;
      border-radius: 1.4rem;
      letter-spacing: 2px;
      background-color: rgba($color: a.$main-color-white, $alpha: 0.15);
      text-transform: uppercase;

      transition: all 0.4s;
    }

    & a:hover,
    & a:active {
      transform: translateY(-0.5rem);

      background-color: a.$light-black;
      border: solid a.$light-black;
      box-shadow: 0 5px 0 white;
    }
  }

  // RIGHT SIDE
  &__right-side {
    display: flex;
    justify-content: center;
    animation-name: from-right;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

    &__img {
      width: 40rem;
      height: 40rem;
      margin-bottom: b.$margin-small;
      border-radius: 0.8rem;
      overflow: hidden;

      & img {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      font-size: b.$font-size-mid;
      width: 55rem;
      transform: translateX(5rem);
      letter-spacing: 2px;
      text-align: justify;
      background-image: linear-gradient(
        to left bottom,
        rgba($color: a.$main-color-black, $alpha: 1),
        rgba($color: a.$main-color-black, $alpha: 0)
      );
      padding: 1rem 2rem 2rem 2rem;
      border-radius: 0.8rem;
      transform: translateY(-3rem) translateX(-15rem);
    }
  }
}
.main-background-image {
  position: relative;
  z-index: -100;
  filter: brightness(80%);
}

@keyframes from-left {
  0% {
    transform: translateX(-3rem);
    opacity: 0;
  }
  90% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes from-right {
  0% {
    transform: translateX(3rem);
    opacity: 0;
  }
  90% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .intro {
    grid-template-columns: 1fr;
  }
  .intro__right-side {
    display: none;
  }
}

@media (max-width: 700px) {
  .intro__heading {
    & span:nth-child(2) {
      font-size: b.$font-size-large;
    }
    & span:first-child,
    & span:last-child {
      font-size: b.$font-size-small-3;
    }
  }

  .intro__left-side {
    & a,
    & a:link,
    & a:visited {
      font-size: b.$font-size-mid !important;
      padding-top: 0.4rem !important;
    }
  }
}
@media (max-width: 500px) {
  .intro {
    padding: 0rem 2rem;
    justify-items: center;
  }

  .intro__heading {
    & span:nth-child(2) {
      font-size: b.$font-size-mid;
    }
    & span:first-child,
    & span:last-child {
      font-size: b.$font-size-smal-2;
    }
  }

  .intro__left-side {
    & a,
    & a:link,
    & a:visited {
      font-size: b.$font-size-small-1 !important;
      padding-top: 0.4rem !important;
    }
  }
}
