@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0 10%,
    rgba(0, 0, 0, 0.4) 40% 100%
  );
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__main-heading {
    margin-bottom: b.$margin-large;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: a.$main-color-white;

    &__special {
      font-size: b.$font-size-large-4;
      letter-spacing: 5px;
      font-weight: 800;

      font-weight: 800;
      background: -webkit-linear-gradient(
        left,
        a.$winter-color-light,
        a.$summer-color-coral
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__title {
      font-size: b.$font-size-large-3;
    }

    &__secondary {
      letter-spacing: 3px;
      font-weight: 100;
      font-size: b.$font-size-mid-1;

      &__special {
        font-size: b.$font-size-large-1;

        &__winter {
          font-weight: 800;
          background: -webkit-linear-gradient(
            a.$winter-color-dark,
            a.$winter-color-light
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &__summer {
          font-weight: 800;
          background: -webkit-linear-gradient(
            a.$main-color-red,
            a.$summer-color-coral
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  & a,
  & a:link,
  & a:visited {
    cursor: pointer;

    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    & span:first-child {
      display: inline-block;
      width: 2rem;
      height: 1px;
      background-color: a.$main-color-red;
      transition: all 0.4s;
    }
    & span:last-child {
      display: inline-block;
      font-size: b.$font-size-mid-1;
      padding: 0 0 0.7rem 0;
      color: a.$main-color-red;
    }
  }

  & a:hover,
  & a:active {
    & span:first-child {
      width: 3rem;
    }
  }
}

.mobile-vers-background {
  display: none;
  position: relative;
  z-index: -1;
}

.learn-more-mobile,
.learn-more-mobile:link,
.learn-more-mobile:visited {
  display: none !important;
}

@media (max-width: 1200px) {
  .non-special {
    display: none;
  }
}
@media (max-width: 1000px) {
  .hero__main-heading__secondary {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .mobile-vers {
    display: none;
  }
  .mobile-vers-background {
    display: block;
  }

  .learn-mre-desc,
  .learn-mre-desc:link,
  .learn-mre-desc:visited {
    display: none !important;
  }
  .learn-more-mobile,
  .learn-more-mobile:link,
  .learn-more-mobile:visited {
    display: flex !important;
    transform: scale(0.8);
  }
}
@media (max-width: 500px) {
  .hero__main-heading__special {
    font-size: b.$font-size-large-2;
  }
  .hero__main-heading__secondary {
    font-size: b.$font-size-small-3;
  }

  .hero__main-heading__secondary__special {
    font-size: b.$font-size-mid;
  }

  .learn-more-mobile,
  .learn-more-mobile:link,
  .learn-more-mobile:visited {
    transform: scale(0.7);
  }
}

@media (max-width: 350px) {
  .hero__main-heading__special {
    font-size: b.$font-size-large-1;
  }
  .hero__main-heading__secondary {
    text-align: center;
    font-size: b.$font-size-smal-2;
  }
  .hero__main-heading__secondary__special {
    font-size: b.$font-size-small-3;
  }
}
