@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;

.certification {
  padding-top: b.$margin-large-5;
  margin-bottom: b.$margin-large-3;
  &__heading {
    max-width: b.$container-large-1;
    margin: 0 auto;

    font-size: b.$font-size-large-3;
    letter-spacing: 2px;
    font-weight: 100;
    display: flex;
    gap: 5rem;
    margin-bottom: b.$margin-mid-3;

    &__certifications,
    &__certification {
      position: relative;
    }

    &__letter {
      position: absolute;
      left: -5rem;
      top: -100%;
      font-size: 15rem;
      z-index: -1;
      color: rgba($color: a.$heading-color-d-white, $alpha: 0.6);
    }
  }
}

.content {
  max-width: b.$container-large-1;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1.5fr 1fr;
  column-gap: 8rem;

  &__img {
    transform: translateX(5rem);
    opacity: 0.1;
    transition: all 0.8s;

    &__active {
      transform: translateX(0);
      opacity: 1;
    }

    & img {
      width: 100%;
      height: auto;
      border-radius: 0.6rem;
    }
  }

  &__text {
    transform: translateX(-5rem);
    opacity: 0.1;
    transition: all 0.8s;

    &__active {
      transform: translateX(0);
      opacity: 1;
    }

    display: flex;
    align-items: center;

    font-size: b.$font-size-mid-1;
    letter-spacing: 1px;

    &__special {
      color: a.$main-color-red;
      font-weight: 600;
      letter-spacing: 2px;
    }

    &__special-2 {
      display: inline;
      border-bottom: solid a.$main-color-red 2px;
    }
  }
}

@media (max-width: 1330px) {
  .certification__heading {
    justify-content: center;
  }
}
@media (max-width: 1220px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    max-width: 50rem;
  }
}
@media (max-width: 1000px) {
  .certification__heading {
    font-size: b.$font-size-large-2;
    gap: 2rem;

    &__letter {
      position: absolute;
      left: -3rem;
      top: -90%;
      color: rgba($color: a.$heading-color-d-white, $alpha: 0.6);
      font-size: 10rem;
      z-index: -1;
    }
  }
}
@media (max-width: 660px) {
  .certification__heading {
    font-size: b.$font-size-large;

    &__letter {
      position: absolute;
      left: -3rem;
      top: -100%;
      color: rgba($color: a.$heading-color-d-white, $alpha: 0.6);
      font-size: 7rem;
      z-index: -1;
    }
  }
}

@media (max-width: 560px) {
  .content {
    max-width: 40rem;
    gap: 2rem;

    &__text {
      font-size: b.$font-size-mid;
      font-weight: 100;
    }
  }
}
@media (max-width: 470px) {
  .certification__heading {
    font-size: b.$font-size-mid-1;
    gap: 1rem;

    &__letter {
      left: -1rem;
      top: -150%;
    }
  }
}
@media (max-width: 430px) {
  .content {
    max-width: 30rem;
    gap: 2rem;

    &__text {
      font-size: b.$font-size-smal-2;
      font-weight: 100;
    }
  }
}
@media (max-width: 365px) {
  .certification__heading {
    font-size: b.$font-size-mid;

    &__letter {
      left: -1rem;
      top: -200%;
    }
  }
}
@media (max-width: 320px) {
  .content {
    max-width: 25rem;
    gap: 2rem;

    &__text {
      font-size: b.$font-size-smal-2;
      font-weight: 100;
    }
  }
}
@media (max-width: 300px) {
  .certification__heading {
    font-size: b.$font-size-small-3;

    &__letter {
      left: -1rem;
      top: -200%;
      font-size: 5rem;
    }
  }
}
