@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;

.certification {
  padding-top: b.$margin-large-5;
  margin-bottom: b.$margin-large-3;
  &__heading {
    width: b.$container-large-1;
    margin: 0 auto;

    font-size: b.$font-size-large-3;
    letter-spacing: 2px;
    font-weight: 100;
    display: flex;
    gap: 5rem;
    margin-bottom: b.$margin-mid-3;

    &__certifications,
    &__certification {
      position: relative;
    }

    &__letter {
      position: absolute;
      left: -5rem;
      top: -100%;
      font-size: 15rem;
      z-index: -1;
      color: rgba($color: a.$heading-color-d-white, $alpha: 0.6);
    }
  }
}

.content {
  width: b.$container-large-1;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1.5fr 1fr;
  column-gap: 8rem;

  &__img {
    transform: translateX(5rem);
    opacity: 0.1;
    transition: all 0.8s;

    &__active {
      transform: translateX(0);
      opacity: 1;
    }

    & img {
      width: 100%;
      height: auto;
      border-radius: 0.6rem;
    }
  }

  &__text {
    transform: translateX(-5rem);
    opacity: 0.1;
    transition: all 0.8s;

    &__active {
      transform: translateX(0);
      opacity: 1;
    }

    display: flex;
    align-items: center;

    font-size: b.$font-size-mid-1;
    letter-spacing: 1px;

    &__special {
      color: a.$main-color-red;
      font-weight: 600;
      letter-spacing: 2px;
    }

    &__special-2 {
      display: inline;
      border-bottom: solid a.$main-color-red 2px;
    }
  }
}
