// MAIN COLORS
$main-color-red: #d9000d;
$main-color-black: #1b1d1f;
$main-color-white: #fff;

// SECONDARY COLORS
$light-black: #27292a;
$light-black-1: #3f4245;

$dark-white: #dae0e1;

// grey
$grey: #333333;
$grey-1: #444444;
$grey-2: #666666;
$grey-3: #888888;
$grey-3: #cccccc;

// TEXT COLOR
$text-color-black: #212121;
$text-color-white: #fff;
$text-color-white-1: #cccccc;

$heading-color-d-white: #d9ddde;
$heading-color-d-white-1: #e1e4e5;
$heading-color-d-white-2: #e4e7e8;
$background-letter-white: rgba(229, 233, 234, 0.8);

// WINTER COLORS
$winter-color-dark: #025ead;
$winter-color-light: #b3cfe6;
// SUMMER COLORS
$summer-color-coral: #fe7263;
$summer-color-turquoise: #53c0d3;

// CONTACT COLORS

$color-vber: #645cac;
$color-whatsapp: #29a718;
$color-telegram: #1a8adb;
