// MAIN COLORS
$main-color-red: #d9000d;
$main-color-black: #1b1d1f;
$main-color-white: #fff;

// SECONDARY COLORS
$light-black: #27292a;
$dark-white: #dae0e1;

// TEXT COLOR
$text-color-black: #212121;
$text-color-white: #fff;
$heading-color-d-white: #d9ddde;
