@use "../../../../../scss/abstracts" as a;
@use "../../../../../scss/base" as b;

.item,
.item:link,
.item:visited {
  position: relative;
  display: flex;
  align-items: center;
  border: solid rgba($color: a.$main-color-white, $alpha: 0.3);
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: rgba($color: a.$main-color-white, $alpha: 0.3);
  transition: all 0.5s;
  color: a.$main-color-white;

  &:hover {
    background-color: a.$main-color-white;
  }

  span {
    display: flex;
    gap: b.$margin-small-1;
    font-size: b.$font-size-mid-1;
  }

  &__name {
    span {
      color: a.$main-color-white;
      letter-spacing: 2px;
      padding-right: 0.5rem;
    }
  }
}

.location__icon {
  color: a.$main-color-red;
  transform: translateY(0.4rem);

  font-size: b.$font-size-mid-3;
  width: 5rem;
}

.destination__icon {
  font-size: b.$font-size-mid-3;
  width: 5rem;
}

.item:hover .item__name span {
  color: a.$main-color-red;
}
