@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;

.summer-sec {
  padding-top: b.$margin-large-5;

  //  INTERSECTION OBSERVER FADE IN
  &__heading {
    transition: all 0.5s;
    opacity: 0;
    transform: translateY(7rem);
  }

  &__active {
    opacity: 1;
    transform: translateY(0);
  }

  &__heading {
    font-size: b.$font-size-large-3;
    text-align: center;
    margin: 0 auto b.$margin-large auto;
    letter-spacing: 3px;
    font-weight: 100;
    position: relative;
    width: max-content;

    & span {
      position: absolute;
      top: -80%;
      left: -6rem;
      z-index: -1;
      font-size: 15rem;
      background: -webkit-linear-gradient(
        rgba($color: a.$summer-color-coral, $alpha: 0.4),
        rgba($color: a.$summer-color-turquoise, $alpha: 0.4)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.book-flight__summer {
  margin-bottom: b.$margin-large-2;
}

@media (max-width: 1000px) {
  .summer-sec {
    padding-top: 0rem;
    &__heading {
      font-size: b.$font-size-large-1;

      & span {
        position: absolute;
        top: -80%;
        left: -2rem;
        z-index: -1;
        font-size: 8rem;
      }
    }
  }
}
@media (max-width: 550px) {
  .summer-sec {
    &__heading {
      font-size: b.$font-size-large;

      & span {
        top: -80%;
        left: -2rem;
        z-index: -1;
        font-size: 6rem;
      }
    }
  }
}
@media (max-width: 400px) {
  .summer-sec {
    &__heading {
      font-size: b.$font-size-mid-2;

      & span {
        top: -100%;
        z-index: -1;
        font-size: 5rem;
      }
    }
  }
}
@media (max-width: 400px) {
  .summer-sec {
    &__heading {
      font-size: b.$font-size-mid;

      & span {
        top: -100%;
        left: -2rem;
        font-size: 5rem;
      }
    }
  }
}
@media (max-width: 320px) {
  .summer-sec {
    &__heading {
      font-size: b.$font-size-mid;

      & span {
        top: -100%;
        left: 1rem;
        font-size: 4rem;
      }
    }
  }
}
