.navbar-container {
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  position: absolute;
}

// NAVIGATION
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 8rem;

  // BURGER AND LINKS
  &--burger-n-links-box {
    display: flex;
    gap: 12rem;
  }
}

// STICKY STYLES
.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 8rem;

  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
