@use "../../scss/abstracts" as a;
@use "../../scss/base" as b;

.menu {
  background-color: a.$main-color-black;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1000000;
  transition: transform 0.5s ease-out;
  transform: translateY(-100%);
  overflow: hidden;

  &__active {
    display: block;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
  &__inactive {
    visibility: hidden;
    opacity: 0;
  }
  &__close-btn {
    height: 5rem;
    width: 5rem;
    background-color: a.$main-color-black;
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
  }
}

.close-container {
  z-index: 10000;
  position: absolute;
  right: 3rem;
  top: 2rem;

  margin: auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: scale(0.8);
}

.leftright {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: a.$main-color-white;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: a.$main-color-white;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.close {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.close {
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: a.$main-color-red;
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: a.$main-color-red;
}
.close-container:hover label {
  opacity: 1;
}

// NAVIGATION
.navigation-container {
  padding-bottom: 2rem;
  height: 9rem;
  display: flex;
  align-items: center;
  background-color: #0002;
}

.main-content {
  max-width: b.$container-large-1;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;

  &__item {
    animation-name: fade-from-top;
    animation-duration: 0.8s;
    animation-timing-function: ease;
  }
}

@keyframes fade-from-top {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1100px) {
  .close-container {
    transform: scale(0.6);
  }
}

@media (max-width: 1050px) {
  .close-container {
    transform: scale(0.4);
  }
}
@media (max-width: 900px) {
  .menu {
    display: none;
  }
}
