@use "../../../scss/base" as b;
@use "../../../scss/abstracts" as a;

.featured-flights {
  position: relative;
  margin-bottom: b.$margin-large-5;

  // HEADING
  &__heading {
    background-color: aqua;
    position: absolute;
    transform: translateY(-100%);
    top: 0rem;
    right: 0rem;
    display: flex;
    background-color: a.$main-color-white;
    overflow: hidden;
    border-top-left-radius: b.$border-radius-small;

    &__winter:hover {
      background-image: linear-gradient(
        to bottom right,
        a.$winter-color-dark,
        a.$winter-color-light
      );

      a,
      a:link,
      a:visited {
        color: a.$main-color-white;
      }
    }
    &__summer:hover {
      background-image: linear-gradient(
        to bottom right,
        a.$summer-color-coral,
        a.$summer-color-turquoise
      );

      a,
      a:link,
      a:visited {
        color: a.$main-color-white;
      }
    }

    // LINKS
    & a,
    & a:link,
    & a:visited {
      display: block;
      font-size: b.$font-size-mid-1;
      font-weight: 100;
      letter-spacing: 3px;
      cursor: pointer;
      color: a.$main-color-black;
      transition: all 0.5s;
      padding: 2rem 3rem;
    }
  }
}

.winter {
  margin-bottom: b.$margin-mid;
  padding-top: b.$margin-large-1;
}
.summer {
  padding-top: b.$margin-large-1;
}
