.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
  overflow: hidden;
  opacity: 0.7;
  transition: all 1s;
  opacity: 0;
  transform: scale(1.5);

  &__active {
    opacity: 1;
  }

  &__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 1s ease-in-out;

  &__img {
    width: 100%;
    height: auto;
    filter: brightness(0.7);
    transition: all 1s;
  }
  &__img-loaded {
    display: none;
  }
}
