@use "../../../scss/abstracts" as a;
@use "../../../scss/base" as b;
.hero {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0 10%,
    rgba(0, 0, 0, 0.35) 40% 100%
  );
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__main-heading {
    font-size: 7rem;
    font-weight: 600;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    text-align: center;
    color: #fff;
    position: relative;

    & span {
      letter-spacing: 3px;
    }
    &__left {
      animation-name: from-left;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
    }
    &__right {
      animation-name: from-right;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
    }
  }

  &__booking-btn {
    display: block;
    font-size: 4rem;
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333333;
    padding: 0.5rem 2rem;
    border-radius: 0.6rem;
    transition: all 0.4s;
    animation-name: from-bot;
    animation-duration: 1s;

    position: absolute;
    bottom: -9rem;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      background-color: #fff;
      transform: translateX(-50%) translateY(-0.5rem);
    }
    &:active {
      background-color: #fff;
      transform: translateX(-50%) translateY(-0.1rem);
    }
  }
}

@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes from-bot {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0rem);
  }
}

.mobile-background-1 {
  display: none;
  filter: contrast(60%);
}
.mobile-background-2 {
  display: none;
  filter: contrast(60%);
}

@media (max-width: 1350px) {
  .hero__main-heading {
    font-size: b.$font-size-large-2;
  }
}
@media (max-width: 1025px) {
  .hero__main-heading {
    font-size: b.$font-size-large-1;
  }
}
@media (max-width: 1000px) {
  .mobile-background-1 {
    display: block;
  }
  .hero__booking-btn {
    font-size: 3rem;
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    border-radius: 0.6rem;
  }
}
@media (max-width: 860px) {
  .hero__main-heading {
    font-size: b.$font-size-large;
  }
  .hero__booking-btn {
    font-size: 2rem;
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    border-radius: 0.6rem;
  }
}

@media (max-width: 700px) {
  .hero__main-heading {
    font-size: b.$font-size-mid-2;
  }
}
@media (max-width: 600px) {
  .hero__main-heading {
    font-size: b.$font-size-mid-1;
  }
}
@media (max-width: 530px) {
  .hero__main-heading {
    font-size: b.$font-size-mid;
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  .mobile-background-1 {
    display: none;
  }
  .mobile-background-2 {
    display: block;
  }
  .hero__booking-btn {
    animation-duration: 0.8s;
  }

  .hero__booking-btn {
    font-size: 1.5rem;
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    border-radius: 0.6rem;
  }
}
@media (max-width: 350px) {
  .hero__booking-btn {
    bottom: -8rem;
  }
  .hero__main-heading__right {
    display: none;
  }
  .hero__main-heading__left {
    animation-duration: 0s;
  }
}
