@use "../../../../../scss/abstracts" as a;
@use "../../../../../scss/base" as b;

.route {
  width: b.$container-large;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0px 0px 25px 7px rgba($color: a.$main-color-black, $alpha: 0.2);
  border-radius: 1rem;

  &:not(:last-child) {
    margin-bottom: b.$margin-large;
  }

  &__link {
    display: block;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      transition: all 0.5s;
      border-radius: 1rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.content-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;

  align-items: center;

  h2 {
    letter-spacing: 2px;
    color: a.$main-color-red;
    margin-bottom: b.$margin-small-1;
  }
}

.travel-info {
  ul {
    li {
      list-style: none;
      border-bottom: solid a.$main-color-red 1px;
      padding-bottom: 0.2rem;
      padding-top: 0.6rem;

      span:first-child {
        color: a.$main-color-red;
        letter-spacing: 1px;
        font-weight: 800;
      }
    }
  }
}
